/* Блок обратной связи */
.feedback {
    background-color: #ec6592;
    padding: 9%;
    text-align: center;
    height: 454px;
}

#submit {
    border: none;
    margin-top: 5%;
    background-image: linear-gradient(45deg, rgb(197, 104, 202), rgb(233, 87, 124));
    cursor: pointer;
}

/* Футер(подвал) */

.footer {
    background-color: #fe81ab;
    height: 190px;
}

.footer_info {
    color: #fff;
    font-size: 16pt;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:4.5%;
    padding-bottom: 1.5%;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#telegram {
    width: 25%;
    height: 25%;
    fill: white;
}

#telegram:hover {
    fill: #229ED9;
    cursor: pointer;
}