{% load static %}
<html lang="ru">
<head>
  <link rel="stylesheet" href="{% static 'css/forma.css' %}">
<meta charset="UTF-8">
<title>Регистрация</title>
</head>
<body>

<div class="card">
  <strong><h1>Регистрация</h1></strong>

  <form action="{% url 'polls:register' %}" method="POST">
      {% csrf_token %}
    <input type="text" placeholder="Имя" name="login" required>
    <input type="email" placeholder="Email" name="email" required>
    <input type="password" placeholder="Пароль" name="pass" required>
    <button type="submit">Зарегистрироваться</button>
    <a href="{% url 'polls:auth' %}">Войти</a>
    {% if error %}
        <h1>{{ error }}</h1>
    {% endif %}
  </form>
</div>
</body>
</html>