{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Dragon-west.css' %}">   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon-west</title>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'polls:index' %}">Главная</a>
            <div class="collapse navbar-collapse show" id="navbarDark">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Билды</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container" id="container">
        <div class="container">
            <div class="row">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-6" id="west-1">
                                <section class="character-section">
                                    <h1 class="character-title">Dragon Fruit (West)</h1>
                                    <p class="character-description"><h5>The Dragon Fruit allows the user to gain the power, and transform to a Mythical Dragon.
                                    The user can transform either to an Eastern Dragon; resembling those from the Chinese culture, 
                                    or the Western Dragon; resembling an medieval armored Dragon from the European folklore. 
                                    The user can also transform into a large, tall human-hybrid dragon that deals more massive fiery damage.</h5></p>
                                    <div class="Gif-dragon">
                                        <img src="{% static 'Videos/Dragon west gif.gif' %}" type="gif" id="">
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-6" id="west-1">
                                <section class="character-section">
                                    <h1 class="character-title">Hybrid form</h1>
                                    <p class="character-description"><h5>The Dragon Fruit allows the user to gain the power, and transform to a Mythical Dragon.
                                    The user can transform either to an Eastern Dragon; resembling those from the Chinese culture, 
                                    or the Western Dragon; resembling an medieval armored Dragon from the European folklore. 
                                    The user can also transform into a large, tall human-hybrid dragon that deals more massive fiery damage.</h5></p>
                                    <div class="Gif-dragon">
                                        <img src="{% static 'Videos/Dragon-hybrid.gif' %}" type="gif" id="">
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-6" id="west-1">
                                <section class="character-section">
                                    <h1 class="character-title">Dragon form</h1>
                                    <p class="character-description"><h5>The Dragon Fruit allows the user to gain the power, and transform to a Mythical Dragon.
                                    The user can transform either to an Eastern Dragon; resembling those from the Chinese culture, 
                                    or the Western Dragon; resembling an medieval armored Dragon from the European folklore. 
                                    The user can also transform into a large, tall human-hybrid dragon that deals more massive fiery damage.</h5></p>
                                    <div class="Gif-dragon">
                                        <img src="{% static 'Videos/Dragon-transform(west).gif' %}" type="gif" id="">
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>     
        <div class="container">
            <div class="row">
                <div class="col-6" id="west-3">
                    <section class="character-section">
                        <nav class="nav nav-pills" id="pills-tab" role="tablist">
                            <a class="nav-link active" id="pills-m1-tab" data-bs-toggle="pill" href="#pills-m1" role="tab" aria-controls="pills-m1" aria-selected="true">Human</a>
                            <a class="nav-link" id="pills-hybridm1-tab" data-bs-toggle="pill" href="#pills-hybridm1" role="tab" aria-controls="pills-hybridm1" aria-selected="false">Hybrid</a>
                            <a class="nav-link" id="pills-transformm1-tab" data-bs-toggle="pill" href="#pills-transformm1" role="tab" aria-controls="pills-transformm1" aria-selected="false">Dragon</a>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-m1" role="tabpanel" aria-labelledby="pills-m1-tab">                        
                                <h1 class="character-title">M1 skill</h1>
                                <p class="character-description"><h5>Normal Attack</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-m1.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user performs a series of consecutive attacks consisting of three strikes with the fire claws, the last of which is a cross.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-hybridm1" role="tabpanel" aria-labelledby="pills-hybridm1-tab">                        
                                <h1 class="character-title">M1 skill</h1>
                                <p class="character-description"><h5>Normal Attack</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-hybrid-m1.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user performs a series of consecutive attacks consisting of three strikes with the fire claws, the last of which is a cross.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-transformm1" role="tabpanel" aria-labelledby="pills-transformm1-tab">
                                <h1 class="character-title">M1 skill</h1>
                                <p class="character-description"><h5>Normal Attack</h5></p> 
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-west-transform-m1.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user performs a series of consecutive attacks consisting of three strikes with the fire claws, the last of which is a cross.</h5>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-6" id="west-3">
                    <section class="character-section">
                        <nav class="nav nav-pills" id="pills-tab" role="tablist">
                            <a class="nav-link active" id="pills-test-tab" data-bs-toggle="pill" href="#pills-test" role="tab" aria-controls="pills-test" aria-selected="true">Human</a>
                            <a class="nav-link" id="pills-hybridz-tab" data-bs-toggle="pill" href="#pills-hybridz" role="tab" aria-controls="pills-hybridz" aria-selected="false">Hybrid</a>
                            <a class="nav-link" id="pills-transformz-tab" data-bs-toggle="pill" href="#pills-transformz" role="tab" aria-controls="pills-transformz" aria-selected="false">Dragon</a>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-test" role="tabpanel" aria-labelledby="pills-test-tab">                        
                                <h1 class="character-title">Z skill</h1>
                                <p class="character-description"><h5>Heatwave Cannon</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-z.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user charges a fire sphere in their mouth, and when they release it, it shoots out in the direction of the cursor and destroys everything in its path, exploding at the end. The strength of the explosion depends on how long the key is held down. If it hits an enemy, and there is no wall behind them, the beam will pierce the enemy and throw them back to the explosion site.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-hybridz" role="tabpanel" aria-labelledby="pills-hybridz-tab">                        
                                <h1 class="character-title">Z skill</h1>
                                <p class="character-description"><h5>Heatwave Cannon</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-hybridz.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user charges a fire sphere in their mouth, and when they release it, it shoots out in the direction of the cursor and destroys everything in its path, exploding at the end. The strength of the explosion depends on how long the key is held down. If it hits an enemy, and there is no wall behind them, the beam will pierce the enemy and throw them back to the explosion site.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-transformz" role="tabpanel" aria-labelledby="pills-transformz-tab">
                                <h1 class="character-title">Z skill</h1>
                                <p class="character-description">
                                    <h5>Heatwave Cannon</h5>
                                </p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-west-transformz.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user charges a fire sphere in their mouth, and when they release it, it shoots out in the direction of the cursor and destroys everything in its path, exploding at the end. The strength of the explosion depends on how long the key is held down. If it hits an enemy, and there is no wall behind them, the beam will pierce the enemy and throw them back to the explosion site.</h5>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6" id="west-4">
                    <section class="character-section">
                       <nav class="nav nav-pills" id="pills-tab" role="tablist">
                            <a class="nav-link active" id="pills-x-tab" data-bs-toggle="pill" href="#pills-x" role="tab" aria-controls="pills-x" aria-selected="true">Human</a>
                            <a class="nav-link" id="pills-hybridx-tab" data-bs-toggle="pill" href="#pills-hybridx" role="tab" aria-controls="pills-hybridx" aria-selected="false">Hybrid</a>
                            <a class="nav-link" id="pills-transformx-tab" data-bs-toggle="pill" href="#pills-transformx" role="tab" aria-controls="pills-transformx" aria-selected="false">Dragon</a>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-x" role="tabpanel" aria-labelledby="pills-x-tab">                        
                                <h1 class="character-title">X skill</h1>
                                <p class="character-description"><h5>Infernal Pincer</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-x.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user dashes towards the cursor, breaking the ground beneath them and leaving a trail of fire. If an enemy is in the way of the attack, the user grabs them, then jumps up and throws the enemy in slow motion towards the cursor's point, causing a crater and fire to appear at the point of impact.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-hybridx" role="tabpanel" aria-labelledby="pills-hybridx-tab">                        
                                <h1 class="character-title">X skill</h1>
                                <p class="character-description"><h5>Infernal Pincer</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-hybridx.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user dashes towards the cursor, breaking the ground beneath them and leaving a trail of fire. If an enemy is in the way of the attack, the user grabs them, then jumps up and throws the enemy in slow motion towards the cursor's point, causing a crater and fire to appear at the point of impact.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-transformx" role="tabpanel" aria-labelledby="pills-transformx-tab">
                                <h1 class="character-title">X skill</h1>
                                <p class="character-description"><h5>Infernal Pincer</h5></p> 
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-west-transform-x.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user releases fiery claws, knocks back the target when hit, has a large hitbox</h5>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
                                
                <div class="col-6" id="west-5">
                    <section class="character-section">
                        <nav class="nav nav-pills" id="pills-tab" role="tablist">
                            <a class="nav-link active" id="pills-с-tab" data-bs-toggle="pill" href="#pills-с" role="tab" aria-controls="pills-с" aria-selected="true">Human</a>
                            <a class="nav-link" id="pills-hybridс-tab" data-bs-toggle="pill" href="#pills-hybridс" role="tab" aria-controls="pills-hybridс" aria-selected="false">Hybrid</a>
                            <a class="nav-link" id="pills-transformс-tab" data-bs-toggle="pill" href="#pills-transformс" role="tab" aria-controls="pills-transformс" aria-selected="false">Dragon</a>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-с" role="tabpanel" aria-labelledby="pills-с-tab">                        
                                <h1 class="character-title">С skill</h1>
                                <p class="character-description"><h5>Scorching Downfall</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-c.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user rises into the air and launches a powerful barrage in the direction of the cursor, stunning enemies and dealing significant damage. With each hit, the projectiles deal less damage to the enemy.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-hybridс" role="tabpanel" aria-labelledby="pills-hybridс-tab">                        
                                <h1 class="character-title">С skill</h1>
                                <p class="character-description"><h5>Scorching Downfall</h5></p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-hybridc.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user rises into the air and launches a powerful barrage in the direction of the cursor, stunning enemies and dealing significant damage. With each hit, the projectiles deal less damage to the enemy.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-transformс" role="tabpanel" aria-labelledby="pills-transformс-tab">
                                <h1 class="character-title">С skill</h1>
                                <p class="character-description"><h5>Scorching Downfall</h5></p> 
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-west-transform-c.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>The user releases a sphere that attracts the target to itself and deals fire damage around a certain radius, at the end it explodes, pushing the target away, dealing great damage.</h5>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>    
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-6" id="west-2">
                        <section class="character-section">
                            <nav class="nav nav-pills" id="pills-tab" role="tablist">
                                <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Hybrid</a>
                                <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Dragon</a>
                            </nav>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">                        
                                    <h1 class="character-title">V skill (Hybrid form)</h1>
                                    <p class="character-description">Imperial Evolution </p>
                                    <div class="Gif-dragon">
                                        <img src="{% static 'Videos/Dragon-hybrid.gif' %}" type="gif" id="">
                                    </div>
                                    <p class="character-description">
                                        <h5>When the orange gauge is full, the user transforms into a Hybrid version, creating a fiery explosion that produces large bodies.</h5>
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">     
                                    <h1 class="character-title">V skill (Dragon form)</h1>
                                    <p class="character-description">Imperial Evolution </p>
                                    <div class="Gif-dragon">
                                        <img src="{% static 'Videos/Dragon-transform(west).gif' %}" type="gif" id="">
                                    </div>
                                    <p class="character-description"><h5>After the orange Fury Meter (first Fury Meter) is full and the red Fury Meter (second Fury Meter) 
                                    is full when a player uses [V] Imperial Evolution it transforms into dragon.</h5></p>
                                </div>
                            </div>
                        </section>
                    </div>
                                    <div class="col-6" id="TransformX">
                    <section class="character-section">
                        <nav class="nav nav-pills" id="pills-tab" role="tablist">
                            <a class="nav-link active" id="pills-fly-tab" data-bs-toggle="pill" href="#pills-fly" role="tab" aria-controls="pills-fly" aria-selected="true">Fly</a>
                            <a class="nav-link" id="pills-hitf-tab" data-bs-toggle="pill" href="#pills-hitf" role="tab" aria-controls="pills-hitf" aria-selected="false">Hit</a>
                            <a class="nav-link" id="pills-transformf-tab" data-bs-toggle="pill" href="#pills-transformf" role="tab" aria-controls="pills-transformf" aria-selected="false">Dragon</a>
                        </nav>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-fly" role="tabpanel" aria-labelledby="pills-fly-tab">                        
                                <h1 class="character-title">F skill (fly)</h1>
                                <p class="character-description">Draconic Soar</p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-fly.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>When the key is pressed, the user gets wings on his back, which allow him to fly. When diving down, the user bursts into flames, which disappear if the speed is not enough.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-hitf" role="tabpanel" aria-labelledby="pills-hitf-tab">
                                <h1 class="character-title">F skill (hit)</h1>
                                <p class="character-description">Draconic Soar</p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-f.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>By quickly pressing the key, the user makes a dash in the direction of the cursor, and if an enemy is encountered on the way, then he stops in front of him for a few moments, makes blows, and then continues on his way in the same direction.</h5>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-transformf" role="tabpanel" aria-labelledby="pills-transformf-tab">
                                <h1 class="character-title">F skill (transform)</h1>
                                <p class="character-description">Draconic Soar</p>
                                <div class="Gif-dragon">
                                    <img src="{% static 'Videos/Dragon-west-transform-f.gif' %}" type="gif" id="">
                                </div>
                                <p class="character-description">
                                    <h5>By quickly pressing the key, the user makes a dash in the direction of the cursor, and if an enemy is encountered on the way, then he stops in front of him for a few moments, makes blows, and then continues on his way in the same direction.</h5>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>
</body>
</html>